Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2020-07, with the labels that each got.

#89 Pass numbers through convertNumber
  modules/twinklebatchdelete.js
  modules/twinklefluff.js
  modules/twinkleunlink.js
Labels: Module: batch, Module: fluff, Module: unlink

#91 image: Update F9 and F10 tooltip
  modules/twinkleimage.js
Labels: Module: image

#95 Remove useragent 2.0 specification
  morebits.js
  twinkle.js
Labels: Module: morebits, Module: twinkle

#96 block: better detect bots and turn off autoblock
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#92 tag: Fix issue in whitespace matching preexisting rcats
  modules/friendlytag.js
Labels: Bug, Module: tag

#98 close: Use anchor link in summary
  modules/twinkleclose.js
Labels: Enhancement, Module: close

#90 deletion modules: Don't follow cross-ns redirect while notifying user
  modules/twinklecopyvio.js
  modules/twinkleimage.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
Labels: Module: copyvio, Module: image, Module: morebits, Module: speedy, Module: xfd

#74 fluff: Unify link creation functions, add rollbackInPlace option for Contribs/RC
  modules/twinkleconfig.js
  modules/twinklefluff.js
  twinkle.js
Labels: Deprecations, Module: fluff, Module: twinkle

#75 morebits.wiki.api: enable promise support
  morebits.js
Labels: Module: morebits

#99 block: return false when checking if IP is a bot
  modules/twinkleblock.js
Labels: Bug, Module: block

#68 image: use accurate template to notify users
  modules/twinkleimage.js
Labels: Enhancement, Module: image

#80 stub: 移除enableStub偏好設定選項
  modules/twinkleconfig.js
  modules/twinklestub.js
  twinkle.js
Labels: Deprecations, Module: stub

#106 Merge individual chunk prefs into one: batchChunks
  modules/twinklebatchdelete.js
  modules/twinklebatchundelete.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Deprecations, Module: batch, Module: config, Module: twinkle

#107 unlink: Alert/return if no pages selected, show more accurate interface message
  modules/twinkleunlink.js
Labels: Module: unlink

#104 close: delete talkpage and redirects when deleting
  modules/twinkleclose.js
Labels: Enhancement, Module: close, Notice

#111 Decentralise module initialisations
  Gadget.md
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleclose.js
  modules/twinkleconfig.js
  modules/twinklecopyvio.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinklestub.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  twinkle.js
Labels: Deprecations, Docs, Gadget, Module: arv, Module: batch, Module: block, Module: close, Module: config, Module: copyvio, Module: fluff, Module: protect, Module: speedy, Module: stub, Module: tag, Module: talkback, Module: twinkle, Module: unlink, Module: warn, Module: xfd

#116 xfd: Don't setLookupNonRedirectCreator for modules
  modules/twinklexfd.js
Labels: Bug, Module: xfd, Notice

#118 warn: Don't follow cross-namespace redirects out of usertalk space
  modules/twinklewarn.js
Labels: Enhancement, Module: warn, Notice

#120 stub: make custom templates above others
  modules/twinklestub.js
Labels: Module: stub

#125 morebits: array: use better/more efficient implementations
  morebits.js
Labels: Enhancement, Module: morebits

#123 morebits: integrate checkboxShiftClickSupport into quickForm
  modules/twinklebatchdelete.js
  modules/twinklebatchundelete.js
  modules/twinkleunlink.js
  morebits.js
Labels: Enhancement, Module: batch, Module: morebits, Module: unlink

#121 tag: Merge from upstream
  modules/friendlytag.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Enhancement, Module: config, Module: tag, Module: twinkle

#126 fluff: Fail nicely on and don't reveal revdel'd usernames
  modules/twinklefluff.js
Labels: Module: fluff

#127 morebits: Remove tipsy dependency, use jQuery UI for tooltips
  Gadget.md
  morebits.css
  morebits.js
Labels: Deprecations, Docs, Module: morebits, Notice

#129 fluff: Fix revertToRevID check and remove intoken
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#122 Respect WP:LEADORDER when tagging
  modules/twinklebatchdelete.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklexfd.js
Labels: Enhancement, Module: batch, Module: morebits, Module: protect, Module: speedy, Module: twinkle, Module: unlink, Module: xfd

#128 fluff/warn: Pass timestamp from fluff to warn, allow skipping stale API check
  modules/twinklefluff.js
  modules/twinklewarn.js
Labels: Enhancement, Module: fluff, Module: warn

#130 morebits: Fix insertAfterTemplates param checks
  morebits.js
Labels: Bug, Module: morebits

#131 Revert "tag: Merge from upstream"
  modules/friendlytag.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Bug, Module: config, Module: tag, Module: twinkle

#133 fluff: Merge from upstream
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#134 protect: Ensure a valid type of move protection
  modules/twinkleprotect.js
Labels: Module: protect

#136 fluff: update messages
  modules/twinklefluff.js
Labels: Module: fluff
