Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2020-08, with the labels that each got.

#137 close: Don't change nonexistent checkbox status
  modules/twinkleclose.js
Labels: Bug, Module: close

#142 add script for easily creating localhost test loaders
  .gitignore
  package.json
  patch-test.js
Labels: Tests

#143 protect: Fix expiry paramenter infinity checking
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#141 i18n: Remove useless wgULS and add some rules
  maintenance/i18n.py
  modules/friendlytag.js
  modules/twinklebatchdelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinklefluff.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  morebits.js
Labels: i18n

#146 warn: Fix warning on flow pages
  modules/twinklewarn.js
Labels: Bug, Enhancement, Module: warn

#148 config: Remove obsolete torev option from openTalkPage
  modules/twinkleconfig.js
Labels: Bug, Deprecations, Module: config

#149 Add script to check {{Twinkle standard installation}} marking
  .gitignore
  maintenance/get_templates.py
  maintenance/tag_name.py
  maintenance/util.py
  modules/friendlytag.js
  modules/twinkleblock.js
  modules/twinkleclose.js
Labels: Docs

#138 Add friendlywelcome
  Gadget.md
  LoadTwinkle.js
  Makefile
  README.md
  maintenance/i18n.py
  modules/friendlywelcome.js
  modules/twinkleconfig.js
  sync.pl
  twinkle.js
Labels: Enhancement, Merge from upstream, Module: welcome

#150 protect: Fix expiry filling for some templates
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#152 protect: Add templateeditor level
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#139 tag: Merge from upstream
  modules/friendlytag.js
  modules/twinkleconfig.js
  morebits.js
  twinkle.js
Labels: Enhancement, Merge from upstream, Module: config, Module: morebits, Module: tag, Module: twinkle

#153 Bump font size to 12px
  morebits.css
Labels: Enhancement, Module: morebits

#145 Display the detail of previous operation in window
  modules/twinkleblock.js
  modules/twinkleprotect.js
Labels: Enhancement, Module: block, Module: protect

#155 warn: Fix bug on flow and update summary
  modules/twinklewarn.js
Labels: Bug, Enhancement, Module: warn

#156 warn: Fix previewing on flow
  modules/twinklewarn.js
Labels: Bug, Module: warn

#157 Friendly Tag: Separate file tag data and rendering
  maintenance/get_templates.py
  modules/friendlytag.js
Labels: Module: tag

#158 protect: Allow presets to override protection length
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#159 fluff: Revert multiple hidden revisions in a row
  modules/twinklefluff.js
Labels: Module: fluff

#160 block: Use block1 for IPs
  modules/twinkleblock.js
Labels: Module: block
