Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2020-06, with the labels that each got.

#61 block: Fix block info query params for ip range
  modules/twinkleblock.js
Labels: Bug

#62 morebits.js: Fix redirect checking regex
  morebits.js
Labels: Bug

#54 block: 在參見選項中添加「跨維基貢獻」
  modules/twinkleblock.js
Labels: Enhancement

#56 morebits.js: 增加附加標點到句尾的函式
  modules/friendlytalkback.js
  modules/twinklearv.js
  modules/twinkleclose.js
  modules/twinkleprotect.js
  morebits.js
Labels: Enhancement

#40 fluff: 在歷史頁面添加恢復此版本及合併en版回退
  modules/twinkleconfig.js
  modules/twinklefluff.js
Labels: Enhancement

#48 morebits: 當巡查連結不可用時，使用API從RC查詢必要參數
  morebits.js
Labels: Enhancement

#53 xfd: Add XfD log, parallel to CSD
  modules/twinkleconfig.js
  modules/twinklexfd.js
  twinkle.js
Labels: Enhancement

#76 speedy: fix failed to enlarge g11 radio
  modules/twinklespeedy.js
Labels: Bug

#66 block: change the summary used in sending notice
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#65 batchdelete: add tab to select the reason to delete
  modules/twinklebatchdelete.js
Labels: Enhancement, Module: batch

#84 morebits.js: Fix redirect checking regex
  morebits.js
Labels: Bug, Module: morebits

#85 arv: 修復VIP留言空行問題
  modules/twinklearv.js
Labels: Bug, Module: arv

#78 speedy: adjust the style to enlarge g11 criterion
  modules/twinklespeedy.js
Labels: Module: speedy

#81 stub: add support to mark the page as patrolled
  modules/twinkleconfig.js
  modules/twinklestub.js
  twinkle.js
Labels: Enhancement, Module: config, Module: stub, Module: twinkle

#82 arv: add support to report users to WP:EWIP
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#86 arv: 移除未使用的處理EWIP的代碼
  modules/twinklearv.js
Labels: Deprecations, Module: arv
