Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2021-04, with the labels that each got.

#191 xfd: Remove aprilfool
  modules/twinklexfd.js
Labels: Module: xfd

#193 Add footerlink to each dialog's preference pane
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinkleclose.js
  modules/twinkleconfig.js
  modules/twinklecopyvio.js
  modules/twinkleimage.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinklestub.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  scripts/i18n.py
  twinkle.js
Labels: Module: arv, Module: block, Module: config, Module: copyvio, Module: protect, Module: speedy, Module: tag, Module: talkback, Module: twinkle, Module: unlink, Module: warn, Module: welcome, Module: xfd

#187 Update morebits
  modules/twinkleblock.js
  morebits.js
  tests/morebits.date.js
  tests/morebits.ip.js
  tests/morebits.js
Labels: Module: block, Module: morebits

#194 batch: Add suffix for batch actions
  modules/twinklebatchdelete.js
  modules/twinklebatchundelete.js
Labels: Module: batch

#195 unlink: Fix api handing
  modules/twinkleunlink.js
  twinkle.js
Labels: Module: twinkle, Module: unlink

#196 twinkle.css: Add 2px margin-right to checkboxes in prefs
  modules/twinkleconfig.js
  twinkle.css
Labels: Module: config, Module: twinkle

#200 speedy: add support for new criteria o8
  modules/twinkleconfig.js
  modules/twinklespeedy.js
Labels: Module: config, Module: speedy

#201 config: Add O7 and enable O7, O8 by default
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: config, Module: twinkle
