Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2021-06, with the labels that each got.

#220 protect: Fix tagging feature with Redirect category shell
  modules/twinkleprotect.js
Labels: Module: protect

#225 tests: migrate from qunit to jest
  jest.config.js
  package-lock.json
  package.json
  tests/jest.setup.js
  tests/mocking/mb_repl.js
  tests/mocking/mw_shim.js
  tests/mocking/phpCharToUpper.json
  tests/morebits.array.js
  tests/morebits.batchOperation.js
  tests/morebits.createHtml.js
  tests/morebits.date.js
  tests/morebits.ip.js
  tests/morebits.js
  tests/morebits.string.js
  tests/morebits.taskManager.js
  tests/morebits.unbinder.js
  tests/morebits.wikitext.js
Labels: Tests, dependencies

#218 warn: notify if IP user has no contrib in 30 days
  modules/twinklewarn.js
Labels: Module: warn

#227 xfd: Fix nosuchsection in non-wikitext pages
  modules/twinklexfd.js
Labels: Module: xfd
