Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2021-05, with the labels that each got.

#208 block: display last block detail of expiring
  modules/twinkleblock.js
Labels: Module: block

#209 block: Refactor tagging
  modules/twinkleblock.js
Labels: Module: block

#210 block: Rename block1/2/3
  modules/twinkleblock.js
Labels: Module: block

#214 speedy: change log colon into full-width
  modules/twinklespeedy.js
Labels: Module: speedy

#213 tag: Add reason parameter for Cleanup
  modules/friendlytag.js
Labels: Module: tag

#212 block: Allow users to opt-in to tag blocked userpage
  modules/twinkleblock.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: block, Module: config, Module: twinkle

#216 block: Add category field to tagging feature
  modules/twinkleblock.js
Labels: Module: block

#217 speedy: Allow to request R2 in WP and WPJ namespaces
  modules/twinklespeedy.js
Labels: Module: speedy
