Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2021-03, with the labels that each got.

#179 deps: Bump eslint and qunit
  package-lock.json
  package.json
Labels: dependencies

#184 tag: Escape redirect tags when creating regex
  modules/friendlytag.js
Labels: Module: tag

#185 speedy: add support for new criteria r8
  modules/twinklespeedy.js
Labels: Module: speedy

#190 config: add configuration for new csd r8
  modules/twinkleconfig.js
Labels: Module: config
