Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2025-06, with the labels that each got.

#337 remove unused eslint-disable directive
  modules/twinklecopyvio.js
  modules/twinkleimage.js
Labels: Module: speedy, Module: copyvio

#336 update csd rationales
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: config, Module: speedy, Module: twinkle

#339 Remove "deliberately" from uw-error
  modules/twinklewarn.js
Labels: Module: warn
