Repository xiplus-mediawiki-programs/twinkle, pull requests merged in 2025-08, with the labels that each got.

#346 Remove support for deprecated SD (Flow) page
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinklecopyvio.js
  modules/twinklediff.js
  modules/twinkleimage.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Module: arv, Module: block, Module: config, Module: morebits, Module: protect, Module: speedy, Module: talkback, Module: warn, Module: xfd, Module: copyvio, Module: welcome

#349 block: add support for action block in partial block
  modules/twinkleblock.js
Labels: Module: block

#352 update csd reasons
  modules/twinkleconfig.js
  modules/twinklespeedy.js
Labels: Module: config, Module: speedy

#354 tag: acquire exact talk page name for {{Requested move}}
  modules/friendlytag.js
Labels: Module: tag
